.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    height: 450px;
    background: rgb(77, 75, 75);
    border: 5px;
    border-radius: 3%;
}

.grid{
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    grid-template-rows: 60px 60px 60px 60px 60px; 
    column-gap: 2px;
    row-gap: 2px;
    margin: 10px;
}

.display{
    width: 240px;
    height: 100px;
    background-color: lightblue;
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;  
    vertical-align: bottom;
    border: 3px solid black;
    border-radius: 10px;
    padding: 1%;
    margin:11px;

}
.displayUp {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.displayDown{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 200%;
}

button{
    border: 1px solid black;
    border-radius: 10px;
}

.number{
    background: darkgrey;
}

.operator{
    background: orange;
}

body{
    display: flex;
    justify-content:center;
    background: rgb(0, 0, 0);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
